.loader
    position: absolute
    top: 64px
    left: 0
    right: 0
    bottom: 0
    margin: auto
    width: 40px
    height: 30px
    display: flex
    flex-direction: column
    align-items: center
    user-select: none
    cursor: default

    &__circles
        width: 100%
        position: relative
        height: 10px

    &__circle
        width: 10px
        height: 10px
        background-color: $color-blue
        border-radius: 50%
        position: absolute
        animation: loader 600ms linear infinite

        &:nth-child(1)
            left: 0
            opacity: .1
            animation-delay: 100ms

        &:nth-child(2)
            left: 0
            right: 0
            margin: auto
            opacity: .2
            animation-delay: 200ms

        &:nth-child(3)
            right: 0
            opacity: .3
            animation-delay: 300ms

    &__text
        text-transform: uppercase
        white-space: nowrap
        margin-top: 6px
        color: rgba($color-base, .7)

.empty-list
    position: absolute
    top: 64px
    left: 0
    right: 0
    bottom: 0
    margin: auto
    height: 105px
    display: flex
    flex-direction: column
    align-items: center
    user-select: none
    cursor: default
    opacity: .5

    &__icon
        background-repeat: no-repeat
        background-size: 100%
        background-position: 0 50%
        background-image: url(/assets/i/icons/box.svg)
        width: 84px
        height: 84px

    &__text
        font-size: 1.4rem