.content
    transition: 250ms $transition-function
    transform: translate3d(0, 0, 0)
    padding-left: 87px
    overflow: auto
    height: calc(100vh - 60px)

    &_expanded
        padding-left: 220px

    &__in
        position: relative
        min-width: 320px
        min-height: calc(100vh - 128px)
        padding: 30px 20px 0 20px
        display: flex
        flex-direction: column

    &__header
        display: flex
        justify-content: space-between
        margin-bottom: 24px

    &__heading
        font-size: 2.4rem

    &__actions
        display: flex

        .button + .button
            margin-left: 14px

    &__navigation
        display: flex
        border-bottom: 2px solid rgba($color-gray, .5)
        margin-top: -12px
        margin-bottom: 24px

    &__navigation-link
        text-decoration: none
        font-size: 1.4rem
        color: $color-base
        margin-right: 24px
        line-height: 4rem
        transition: 250ms $transition-function
        position: relative
        user-select: none

        &:last-child
            margin-right: 0

        &:before
            content: ''
            position: absolute
            bottom: -2px
            left: 0
            width: 100%
            height: 2px
            background-color: $color-blue
            opacity: 0
            transition: 250ms $transition-function

        &:hover, &_active
            color: $color-blue

            &:before
                opacity: 1

        &_disabled
            cursor: default
            opacity: .5

            &:hover
                color: $color-base

                &:before
                    opacity: 0

.footer
    text-align: center
    padding-bottom: 20px
    margin-top: 30px

    &__developer
        font-size: 1.2rem
        color: rgba($color-base, .5)