.form
    $block: &

    width: 100%

    &_disabled
        #{$block}__field
            user-select: none
            pointer-events: none

    &__group
        margin-bottom: 8px

        +bp(min, 768px)
            display: flex
            justify-content: space-between

            #{$block}__field
                margin-bottom: 0
                flex-basis: 48.5%

    &__field
        margin-bottom: 8px

        &:last-child
            margin-bottom: 0

    &__actions
        display: flex
        align-items: center
        margin-top: 24px

        .button + .button,
        .button + .checkbox
            margin-left: 7%

        +bp(max, 768px - 1px)
            .button
                min-width: auto
                width: 100%

        &_right
            justify-content: flex-end

        &_left
            justify-content: flex-start
