.header
    position: fixed
    left: 0
    right: 0
    top: 0
    z-index: 500
    height: 60px
    background-color: #fff
    border-bottom: 1px solid $color-gray
    box-shadow: 0 2px 10px -1px rgba($color-base, .1)

    &__in
        position: relative
        min-width: 320px
        padding: 0 20px 0 6px
        height: 100%
        display: flex
        justify-content: space-between
        align-items: center

        +bp(min, 1024px)
            padding: 0 20px

    &__menu-toggle
        width: 46px
        height: 46px
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        opacity: .5
        transition: 250ms $transition-function

        .is-desktop &:focus,
        .is-desktop &:hover,
        .is-touch &:active
            opacity: 1

    &__logo
        background-image: url(/assets/i/logo_s.svg)
        background-size: 100%
        background-repeat: no-repeat
        width: 54px
        height: 54px
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        margin: auto

        +bp(min, 768px)
            background-image: url(/assets/i/logo_m.svg)
            width: 180px

    &__user
        position: relative
        display: flex
        align-items: center
        padding: 2px 2px 2px 24px
        border-radius: 23px
        cursor: pointer
        user-select: none
        transition: 250ms $transition-function

        &_active, &:hover
            background-color: rgba($color-gray, .25)

        +bp(max, 768px - 1px)
            display: none

        +bp(max, 1024px - 1px)
            pointer-events: none

    &__user-meta
        margin-right: 1.4rem
        font-size: 1.2rem

    &__user-role
        color: rgba($color-base, .75)

    &__user-avatar
        width: 42px
        height: 42px
        position: relative

        &:before
            content: ''
            width: 10px
            height: 10px
            border-radius: 50%
            background-color: $color-green
            position: absolute
            top: 0
            right: 0
            border: 1px solid #fff

        .image
            width: 100%
            height: 100%
            border-radius: 50%
