.input
    $block: &

    position: relative

    &_disabled
        +disabled

    &_opened
        #{$block}__control
            border-radius: 2px 2px 0 0

        #{$block}__error
            z-index: 1100

        #{$block}__suggest
            z-index: 1000

    &__security, &__cancel
        position: absolute
        right: 12px
        width: 20px
        height: 20px
        top: 0
        bottom: 0
        margin: auto
        cursor: pointer
        display: flex
        align-items: center
        justify-content: center

        .icon
            width: 20px
            height: 20px

    &__security
        opacity: 0
        visibility: visible
        transition: 250ms $transition-function

        &_visible
            opacity: 1
            visibility: visible

    &__security:hover
        .icon_eye-close
            +icon('eye-close', 20px, 20px, $color-blue)

        .icon_eye-open
            +icon('eye-open', 20px, 20px, $color-blue)

    &__cancel:hover
        .icon_close
            +icon('close', 24px, 24px, $color-blue)

    &__control
        height: 40px
        padding: 0 12px
        background-color: #fcfcfc
        border: 1px solid #e0e0e0
        border-radius: 2px
        min-width: 195px
        width: 100%
        font: inherit
        font-size: 1.4rem
        line-height: 3.8rem
        transition: 250ms $transition-function
        color: $color-base
        appearance: none
        touch-action: manipulation

        &::placeholder
            transition: 400ms $transition-function
            color: rgba($color-base, .5)

        &::-webkit-inner-spin-button
            margin: auto 2px

        &::-webkit-calendar-picker-indicator
            opacity: 1
            color: transparent
            cursor: pointer
            padding: 0
            background-repeat: no-repeat
            background-size: 100%
            background-position: 0 50%
            +icon('arrow-down', 20px, 20px)

            &:hover
                background-color: transparent
                +icon('arrow-down', 20px, 20px, $color-blue)

        &:focus
            border-color: $color-blue
            background-color: #fff

            &::placeholder
                color: rgba($color-base, .25)

        &:-webkit-autofill
            box-shadow: inset 0 0 0 1000px #fcfcfc
            transition: background-color 5000s $transition-function 0s

            &:focus
                box-shadow: inset 0 0 0 1000px $color-light-blue

    &__control[type="password"]
        padding-right: 44px

    &__control:focus + &__error
        background-image: none

    &__error
        +control-error

    &__suggest
        display: none
        background-color: #fff
        border: 1px solid $color-blue
        border-top: none
        border-radius: 0 0 2px 2px
        min-width: 184px
        width: 100%
        position: absolute
        z-index: 100
        top: 100%
        padding: 9px 0

        &_visible
            display: block

        &-in
            overflow-y: scroll
            max-height: 135px

        &-item
            cursor: pointer
            user-select: none
            line-height: 30px
            padding: 0 12px
            font-size: 1.4rem
            white-space: nowrap
            text-overflow: ellipsis
            overflow: hidden

            &_focused
                background-color: rgba($color-gray, .25)

            +tohch-hover
                background-color: rgba($color-gray, .15)
